@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.type-plugin {
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  transition-duration: 0.7s;
  font-weight: 500;
}
a,
a:hover {
  text-decoration: none;
  color: white;
}
ul li {
  list-style-type: none;
}

/* navbar  */
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #ba68c8;
  padding: 0 2em;
  opacity: 1;
  z-index: 2;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-size: larger;
}
.nav-item {
  padding: 0 0.3em;
  border-bottom: 3px solid transparent;
}
.nav-item:hover {
  background-color: blueviolet;
  border-radius: 12px;
  border-bottom: 3px solid white;
}
.navbar-brand {
  font-size: 35px;
}
#header-img {
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.651)),
    url("../img/home-img1.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
#header-img h1 {
  font-size: 4em;
  color: white;
  padding: 0 10px;
}
#header-img span {
  font-size: 1em;
}
#header-img span,
.skills h1,
#education h1 {
  color: blueviolet;
}
#header-img h3,
#projects h1 {
  color: white;
  word-spacing: 5px;
}
@media screen and (max-width: 700px) {
  #header-img h1 {
    font-size: 2.7em;
  }
}

/* about section  */

.about {
  display: flex;
  background-color: rgba(128, 128, 128, 0.308);
  justify-content: space-evenly;
  padding: 4em 0 70px;
}
.about-me-img img {
  width: 250px;
  height: 340px;
  margin: 1em;
  box-shadow: 10px 5px 5px grey;
}
.about-me-img img:hover {
  box-shadow: none;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.about-me-content {
  text-align: justify;
}
.about-me-content h2 {
  color: blueviolet;
  font-weight: bold;
}

/* skills  */

.progress {
  height: 1.5rem;
  font-size: 15px;
}
.progress-bar {
  background-color: rgba(137, 43, 226, 0.658);
}

/* projects  */

#projects {
  background: linear-gradient(
    to bottom,
    rgba(137, 43, 226, 0.692),
    rgba(238, 130, 238, 0.774)
  );
  padding: 3em;
  color: white;
}
#projects p {
  margin: 20px 0;
}
.slider-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7px;
}
.slider-links a {
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  opacity: 0.6;
  border-radius: 10px;
  border: 2px solid red;
  padding: 4px 8px;
  margin: 5px 0;
  color: blueviolet;
}
.slider-links a:hover {
  opacity: 1;
  transition-duration: 0.5s;
}
.slider-links i {
  color: red;
  background-color: yellow;
  padding: 0 10px;
}
.slider-links i:hover {
  transform: rotateZ(360deg);
  transition-duration: 0.5s;
}

/* education  */

#education {
  padding: 3em;
}
.edu .fa {
  font-size: 35px;
  color: white;
  text-align: center;
  background-color: blueviolet;
  border-radius: 50%;
  margin: 0px 5%;
  padding: 15px;
}
.edu-content {
  padding-top: 20px;
  box-shadow: 5px 4px 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #b1aeae;
}
.edu-content span {
  font-weight: bold;
  font-style: italic;
}
.edu-content:hover {
  box-shadow: none;
}
.edu-content h5 {
  padding: 15px;
}

/* gallery  */

#gallery {
  padding: 3em 0 0;
}
#gallery h1 {
  padding: 0.3em 2em;
  color: white;
  background-color: blueviolet;
}
.gallery .photo {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.btn-icon .bi {
  font-size: 35px;
  height: 50px;
  width: auto;
  color: #5c5c5c;
  background-color: white;
  border-radius: 50%;
  margin: 0 5%;
  padding: 1px 5px;
}

@media screen and (min-width: 760px) {
  .photo:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .photo-content {
    margin: 5% 10%;
    display: none;
    top: 0;
    transform: translateY(10%);
    position: absolute;
    color: white;
  }
  .photo:hover .photo-content {
    display: block;
  }
  .photo-content p {
    margin-bottom: 50px;
  }
}
/* footer  */

#copyright {
  background-color: rgba(137, 43, 226, 0.795);
  display: flex;
  padding: 0.5% 5%;
  justify-content: space-between;
  align-items: center;
}
#copyright p {
  width: 60%;
  padding-top: 15px;
}
#copyright-icons .bi {
  color: white;
  opacity: 1;
  margin: 3px;
  font-size: 30px;
}
#copyright-icons .bi:hover {
  color: black;
}
#copyright p {
  color: white;
}
@media screen and (max-width: 550px) {
  #copyright-icons .bi {
    font-size: 20px;
  }
  #copyright p {
    font-size: 18px;
  }
}
